<div class="list list-inset" style="top: 43px; margin: 0px">
    <label class="item item-input search-league my-text" >
        <i class="icon ion-search placeholder-icon" class="my-text"></i>
        <input type="text" ng-model="leagueSearch.value" placeholder="Search" style="color:white" class="my-text">
    </label>
</div>

<ion-content class="has-header has-subheader">
    <ul class="list">
        <li class="item league-options"
            collection-repeat="league in leagues | filter: leagueSearch.value" ng-click="chooseLeagueStatsFunc(league)">
            {{league.League}}<br/>
        </li>

    </ul>
</ion-content>
