
<div ng-if="sideMenuOptions['Choose League'] != true && chooseLeagueStatsBool == false">
    <ion-side-menus>
        <ion-side-menu-content edge-drag-threshold="true"
                               drag-content="false">
            <ion-header-bar class="bar nav-title-slide-ios7 topHeader" style="border-bottom: 0px">
                <div class="buttons">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon my-text"
                            style="color: #FE7C67;"></button>
                </div>
                <h1 class="title my-text">
                    <span ng-repeat="(key,value) in sideMenuOptions | TitleFilter">{{key | translate}}</span>
                </h1>
                <div class="buttons" >
                    <button class="button button-icon icon ion-android-refresh my-text"
                            ng-click="changeMenu('Football Tips'); getJson();" style="color: #FE7C67;"></button>
                </div>
            </ion-header-bar>

            <my-side-menu-content></my-side-menu-content>

            <ion-footer-bar class="newsFeed-horizontal-scroll">
                <marquee behavior="scroll" direction="left" scrollamount="3">
                    {{newsFeed}}
                </marquee>
            </ion-footer-bar>
        </ion-side-menu-content>

        <ion-side-menu side="left" expose-aside-when="large" class="sideMenu">
            <ion-content style="background-color: #464749 !important;">
                <div class="list">

                    <a class="item item-icon-left  my-menu-list-item" ng-click="shouldUpdate();"
                       ng-if="purchase.entireapp.value == false">
                        <i class="icon ion-ios-unlocked"></i>
                        <span translate="UNLOCK_ENTIRE_APP"></span>
                        <!--Unlock Entire App-->
                    </a>
 
                    <div class="item item-divider side-menu-divider">
                        Sports
                    </div>

                    <a class="item my-menu-list-item" ng-click="changeMenu('Football Tips'); getJson();"
                       ng-class="{'menu-active': urlArgs.first == 'Football Tips'}">
                        <img src="css/icons/ios-football.svg" class="my-img-icon">
                        <span translate="Football Tips"></span>&nbsp;&nbsp;
                        <!--Football Tips&nbsp;&nbsp;-->
                        <span class="badge badge-assertive">{{badges.FootballTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Horse Racing Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Horse Racing Tips'}">
                        <img src="css/icons/flag.svg" class="my-img-icon">
                        <span translate="Horse Racing Tips"></span>&nbsp;&nbsp;
                        <!--Horse Racing Tips&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Horse Racing Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.HorsesTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Motor Racing Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Motor Racing Tips'}">
                        <img src="css/icons/motor.svg" class="my-img-icon">
                        <span translate="Motor Racing Tips"></span>&nbsp;&nbsp;
                        <!--Basketball Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Motor Racing Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Motor}}</span>
                    </a>


                    <a class="item my-menu-list-item" ng-click="checkPurchase('NFL Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'NFL Tips'}">
                        <img src="css/icons/ios-americanfootball.svg" class="my-img-icon">
                        <span translate="NFL Tips"></span>&nbsp;&nbsp;
                        <!--NFL Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['NFL Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.NFLTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Boxing Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Boxing Tips'}">
                        <img src="css/icons/boxing.svg" class="my-img-icon">
                        <span translate="Boxing Tips"></span>&nbsp;&nbsp;
                        <!--Boxing Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Boxing Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Boxing}}</span>

                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Cricket Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Cricket Tips'}">
                        <img src="css/icons/cricket.svg" class="my-img-icon">
                        <span translate="Cricket Tips"></span>&nbsp;&nbsp;
                        <!--Cricket Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Cricket Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Cricket}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Tennis Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Tennis Tips'}">
                        <img src="css/icons/tennis.svg" class="my-img-icon">
                        <span translate="Tennis Tips"></span>&nbsp;&nbsp;
                        <!--Tennis Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Tennis Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Tennis}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Basketball Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Basketball Tips'}">
                        <img src="css/icons/ios-basketball.svg" class="my-img-icon">
                        <span translate="Basketball Tips"></span>&nbsp;&nbsp;
                        <!--Basketball Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Basketball Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Basketball}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Baseball Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Baseball Tips'}">
                        <img src="css/icons/ios-baseball.svg" class="my-img-icon">
                        <span translate="Baseball Tips"></span>&nbsp;&nbsp;
                        <!--Basketball Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Baseball Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Baseball}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('NHL Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'NHL Tips'}">
                        <img src="css/icons/nhl.svg" class="my-img-icon">
                        <span translate="NHL Tips"></span>&nbsp;&nbsp;
                        <!--NHL Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['NHL Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.NHL}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Golf Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Golf Tips'}">
                        <img src="css/icons/golf.svg" class="my-img-icon">
                        <span translate="Golf Tips"></span>&nbsp;&nbsp;
                        <!--Golf Tips&nbsp;&nbsp;-->
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Golf Tips'].value == false"></i>
                        <span class="badge badge-assertive">{{badges.Golf}}</span>
                    </a>

                    <div class="item item-divider side-menu-divider" >
                        Tables
                    </div>

                    <a class="item item-icon-left my-menu-list-item" ng-click="changeMenu('Stats'); getStats('Main Table');"
                       ng-class="{'menu-active': urlArgs.first == 'Stats'}">
                        <i class="icon ion-stats-bars"></i>
                        <span translate="Stats"></span>
                        <!--Stats-->
                    </a>

                    <a class="item my-menu-list-item my-menu-list-item" ng-click="changeMenu('Accuracy');getAccuracy();"
                       ng-class="{'menu-active': urlArgs.first == 'Accuracy'}">
                        <img src="css/icons/target.svg" class="my-img-icon">
                        <span translate="Accuracy"></span>
                        <!--Accuracy-->
                    </a>

                    <div class="item item-divider side-menu-divider">
                        <span translate="Customise"></span>
                    </div>


                    <a class="item item-icon-left my-menu-list-item" ng-click="mailUs()">
                        <i class="icon ion-ios-at"></i>
                        <span translate="Contact Us"></span>
                    </a>

                    <a ng-if="devicePlatform == 'iOS'" class="item item-icon-left  my-menu-list-item" ng-click="refreshPurchases()">
                        <i class="icon ion-ios-refresh"></i>
                        Restore Purchases
                    </a>

                    <a class="item item-icon-left my-menu-list-item" ng-click="rateUs(); schedule()"
                       ng-class="{'menu-active': urlArgs.first == 'Rate Us'}">
                        <i class="icon ion-android-star"></i>
                        <span translate="Rate Us"></span>
                        <!--Rate Us-->
                    </a>
                    <!-- The Rate Us menu item was hiding behind the admob ads in iOS, so adding an empty menu item at the bottom for iOS -->
                    <a ng-if="devicePlatform == 'iOS'" class="item item-icon-left  my-menu-list-item">
                    </a>


                    <!-- <a ng-show="purchase.entireapp.value == false" href="https://helixhosting.ninja/aff.php?aff=449"><img src="http://helixhosting.ninja/assets/img/aff/banner-   ng" width="468" height="60" border="0"></a> -->

                </div>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
</div>

<div ng-if="chooseLeagueStatsBool == true">
    <ion-header-bar class="bar topHeader">
        <button class="button button-icon icon ion-android-arrow-back elements"
                ng-click="chooseLeagueStatsFunc()"></button>
        <h1 class="title my-text elements">{{'Choose League' | translate}}
        </h1>
    </ion-header-bar>
    <choose-league-stats></choose-league-stats>
</div>
