<div ng-if="sideMenuOptions['Football Tips'] && chooseLeagueStatsBool == false">

    <ion-pane class="" ng-class="{'has-footer': showNewsFeed == true}" style="background-color: #FAFAFA">

                <div class="row topHeader more-styles"
                     on-swipe-right="scrollableDate_onSwipeRight(); $event.stopPropagation()" 
                     on-swipe-left="scrollableDate_onSwipeLeft(); $event.stopPropagation()"
                     on-drag-right="scrollableDate_onSwipeRight(); $event.stopPropagation()" 
                     on-drag-left="scrollableDate_onSwipeLeft(); $event.stopPropagation()"
                     >
                    <div class="col" style="text-align: right; padding-left: 0px; padding-right: 0px;"
                         ng-click="scrollableDate_onSwipeRight()">
                        
                        <a class="scroll-scrollableDates" >{{scrollableDate_left.alias | translate}}</a>
                    </div>


                    <div class="col" style="text-align: center; max-width:200px !important; min-width: 150px !important;">
                        
                        <a class="scroll-scrollableDates-middle scroll-scrollableDates" >{{scrollableDate_center.alias | translate}}</a>
                    </div>
                    <div class="col" style="text-align: left;padding-left: 0px; padding-right: 0px;"
                         ng-click="scrollableDate_onSwipeLeft()">
                        
                        <a class="scroll-scrollableDates scroll-scrollableDates-right" >{{scrollableDate_right.alias | translate}}</a>
                    </div>
                </div>

            <div>
                <my-tabs-content></my-tabs-content>
            </div>




    </ion-pane>
</div>

<div ng-if="sideMenuOptions['Stats']  && chooseLeagueStatsBool == false">
    <ion-pane class="" ng-class="{'has-footer': showNewsFeed == true}" style="background-color: #FAFAFA">
        <div class="tabs topHeader bottomHeader-league" style="text-align: center; line-height: 40px; vertical-align: middle">
            <button class="button my-league-stat-select" ng-click="chooseLeagueStatsFunc('')">
                <span ng-if="statsLeague == ''">{{'Choose League' | translate}}</span>
                <span ng-if="statsLeague != ''">{{statsLeague}}</span>
                <span></span>
            </button>
        </div>
        <div class="tabs topHeader bottomHeader2 stats-sub-header" style="text-align:center;">
            <button class="button button-small option"
                    ng-class="{'option-active': urlArgs.statsType == 'Main Table', 'option-passive': urlArgs.statsType != 'Main Table' }"
                    ng-click="getStats('Main Table');">Main<br/>Table</button>
            <button class="button button-small option"
                    ng-class="{'option-active': urlArgs.statsType == 'Home Table', 'option-passive': urlArgs.statsType != 'Home Table' }"
                    ng-click="getStats('Home Table')">Home<br/>Table</button>
            <button class="button button-small option"
                    ng-class="{'option-active': urlArgs.statsType == 'Away Table', 'option-passive': urlArgs.statsType != 'Away Table' }"
                    ng-click="getStats('Away Table');">Away<br/>Table</button>
            <button class="button button-small option"
                    ng-class="{'option-active': urlArgs.statsType == 'Last 5', 'option-passive': urlArgs.statsType != 'Last 5' }"
                    ng-click="getStats('Last 5')">Last 5</button>
            <button class="button button-small option"
                    ng-class="{'option-active': urlArgs.statsType == 'Last 5 Home', 'option-passive': urlArgs.statsType != 'Last 5 Home' }"
                    ng-click="getStats('Last 5 Home')">Last 5<br/>Home</button>
            <button class="button button-small option"
                    ng-class="{'option-active': urlArgs.statsType == 'Last 5 Away', 'option-passive': urlArgs.statsType != 'Last 5 Away' }"
                    ng-click="getStats('Last 5 Away')">Last 5<br/>Away</button>
        </div>
        <div class="tabs topHeader bottomHeader3 newsFeed" style="text-align: center; line-height: 30px; vertical-align: middle; font-size: 11px">
            <!--<div class="row">-->
            <!--<div style="padding: 0px; line-height: 8px;" >-->
            <div class="col-27 my-text-font-weight" style="width:30%; text-align:left; padding: 0px; line-height: 8px;">Name</div>
            <div class="col my-text-font-weight" style="padding: 0px; line-height: 8px;"
                 ng-repeat="item in statsOrder" ng-if="stats[0].hasOwnProperty(item)">{{item}}</div>
            <div class="col-11 my-text-font-weight" style="width:12%; text-align:right; padding: 0px; line-height: 8px;">Pts</div>
            <!--</div>-->
            <!--</div>-->
        </div>
        <div>
            <ion-content style="top: 163px !important; font-size: 11px !important;">
                <div ng-if="statsLeague == ''"  class="row">
                    <h4 class="no-result-statement">Choose a league to view stats!</h4>
                </div>
                <div ng-if="statsLeague != ''" >
                    <div class="newsFeed" collection-repeat="item in stats | filter: statsLeague">
                       
                        <div class="row"  style="text-align: center; vertical-align: middle">
                            <div class="col-27 my-center-align my-text-font-weight" style="text-align: left; width:30%"
                                 ng-if="item.hasOwnProperty('Name')">{{item['Name']}}</div>
                            <div class="col my-text-font-weight"
                                 ng-repeat="st in statsOrder" ng-if="item.hasOwnProperty(st)">{{item[st]}}</div>
                            <div class="col-11 my-text-font-weight" style="text-align: right; width:12%; line-height:30px; vertical-align:middle"
                                 ng-if="item.hasOwnProperty('Pts')">{{item['Pts']}}</div>
                        </div>
                    </div>
                </div>

            </ion-content>
        </div>
    </ion-pane>
</div>


<ion-content class="" ng-class="{'has-footer': showNewsFeed == true}">
    <div ng-if="sideMenuOptions['Horse Racing Tips'] && chooseLeagueStatsBool == false">
        <div ng-if="nonFootballTips.length == 0  && internet != false" class="row">
            <h4 style="color:#2A3A49; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">There are no tips available at this time</h4>
        </div>
        <div ng-if="internet == false" class="row">
            <h4 style="color:#2A3A49; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">Please connect to the internet and try again</h4>
        </div>
        <div ng-if="internet" ng-repeat="st in nonFootballTips" class="card" style="text-align: center; font-weight: normal">
            <div class="item-text-wrap row">
                <div class="col">
                    <div class="row tips-padding">
                        <div class="col tips-padding">
                            <img src="img/flags/United-Kingdom.png" class="racing-icon" /> <span class="col"><strong>{{st.Name}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-text-wrap row">
                <div class="col">
                    <div class="row tips-padding">
                        <div class="col tips-padding ">
                            {{st.Tipster}}
                        </div>
                    </div>
                    <div class="item-text-wrap row">
                        <div class="col">
                            <div class="row tips-padding">
                                <div class="col tips-padding">
                                    {{st.Racecard}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="chooseLeagueStatsBool == false && (sideMenuOptions['NFL Tips'] || sideMenuOptions['Cricket Tips'] || sideMenuOptions['NHL Tips'] || sideMenuOptions['Golf Tips'] || sideMenuOptions['Boxing Tips']  || sideMenuOptions['Tennis Tips'] || sideMenuOptions['Basketball Tips'] || sideMenuOptions['Motor Racing Tips'] || sideMenuOptions['Baseball Tips'])">
        <div ng-if="nonFootballTips.length == 0 && internet != false" class="row ">
            <h4 style="color:#2A3A49; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">There are no tips available at this time</h4>
        </div>
        <div ng-if="internet == false" class="row">
            <h4 style="color:#2A3A49; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">Please connect to the internet and try again</h4>
        </div>
        <div ng-if="internet" ng-repeat="st in nonFootballTips" class="card " style="text-align: center; font-weight: normal">
            <div class="item-text-wrap row">
                <div class="col">
                    <div class="row tips-padding">
                        <div class="col tips-padding">
                            <span ng-show="sideMenuOptions['Tennis Tips']">{{st.Game}}</span>
                                <span ng-show="sideMenuOptions['Golf Tips'] || sideMenuOptions['Motor Racing Tips']">{{st.Event}}</span>
                                <span ng-hide="sideMenuOptions['Tennis Tips'] || sideMenuOptions['Golf Tips']">{{st.Match}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-text-wrap row">
                <div class="col">
                    <div class="row tips-padding">
                        <div class="col tips-padding ">
                            <strong><div class="col">{{st.Tip}}</div></strong>

                        </div>
                    </div>
                    <div class="item-text-wrap row">
                        <div class="col">
                            <div class="row tips-padding">
                                <div class="col tips-padding">
                                    <div class="col">{{st.Date}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="sideMenuOptions['Accuracy'] && chooseLeagueStatsBool == false">
        <div ng-show="urlArgs.first == 'Accuracy'">
            <div class=" card" ng-repeat="(key,value) in accuracy | myOrderBy : accuracyorder" >
                <div class="item-text-wrap row">
                    <div class="col">{{value.name}}</div>
                    <div class="col" style="text-align:right;">{{value.percent}}%</div>
                </div>
            </div>
        </div>
    </div>

</ion-content>





