
<span ng-if="internet">
    <button ng-if="delay5starPurchaseBtn === true" class="button button-block button-energized my-unlock-gold-btn star-gold" ng-click="starSelect('5 Star')">
        <span translate="Unlock Gold Tips"></span>
    </button>
</span>
<ion-content class="content-top-margin" ng-class="{'has-footer': showNewsFeed == true, 'content-top-margin-unlock': delay5starPurchaseBtn == true && internet}"
    on-swipe-right="scrollableDate_onSwipeRight(); $event.stopPropagation()"
    on-swipe-left="scrollableDate_onSwipeLeft(); $event.stopPropagation()">

    <div>
        <div ng-repeat="winType in winType_list">

             <i class="icon icon-expandible "
                ng-if="loading.football === false"
                ng-class="{'ion-chevron-down': footballTips[winType].isOpen === false, 'ion-chevron-up': footballTips[winType].isOpen === true}"
                ng-click="toggleTipTypeCard(footballTips[winType])"></i>

            <div class="card wintype-card wintype-card-closed" ng-if="footballTips[winType].isOpen == false" >
                <div class="wintype-name" ng-click="toggleTipTypeCard(footballTips[winType])">{{ winType | translate}}</div>
            </div>
            <div class="card wintype-card-open wintype-card" ng-if="footballTips[winType].isOpen == true" >
                <div class="wintype-name" ng-click="toggleTipTypeCard(footballTips[winType])">{{ winType | translate}}</div>
                <div class="card no-tips"
                    ng-if="internet == true && checkTipsAvailability(winType) == false && loading.football == false">{{ 'No Tips' | translate}}</div>
                <div class="card no-tips" ng-if="internet == false">Please connect to the internet and try again</div>
                <div ng-repeat="star in ['4','5'] | orderBy: '-toString()'"
                    ng-click="$event.stopPropagation();">
                    <div class="card" ng-repeat="record in footballTips[winType]['tips'][star]"
                        ng-if="shouldShow(record)">
                        <div class="item-text-wrap row">
                            <div class="col1 basecol" ng-class="{'star-gold-badge': star == '5'}"></div>
                            <div class="col2 basecol"><img src="img/flags/{{record.Flag}}" class="country-flag" /> <span class="league"><strong>{{record.League}}</strong></span></div>
                            <div class="col6 basecol">{{record.Accuracy}}%</div>
                        </div>
                        <div class="item-text-wrap row">
                            <div class="colhome basecol">{{record.HomeTeam}}</div>
                            <div class="col4 basecol"><strong>  {{record.Score}}  </strong></div>
                            <div class="colaway basecol">{{record.AwayTeam}}</div>
                        </div>
                        <div class="item-text-wrap row">
                            <div class="col4 basecol"><strong>{{record.State}}</strong></div>
                            <div class="col5 basecol">&#8986; {{record.Date | localDate}}</div>
                            <div class="col4 basecol"></div>
                        </div>
                        <div class="item-text-wrap row">
                            <div class="coltype basecol"></div>
                            <div class="col4 basecol"></div>
                            <div class="col8 basecol"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</ion-content>
