.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
    margin-top: 0px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 43px;
}

.tips {
    background-color: #C9EAD2;
}

.checkbox-assertive input:checked:before,
.checkbox-assertive input:checked + .checkbox-icon:before {
    background: #5a698a;
    border-color: #5a698a;
}

.checkbox-assertive input:before,
.checkbox-assertive .checkbox-icon:before {
    border-color: #5a698a;
}

.no-result-statement {
    color: #464749 !important;
    font-weight: normal !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 10px !important;
    text-align: center !important;
}

.option {
    padding: 2px 3px 2px 3px !important;
    border-left: 0 none !important;
    border: 2px solid #5a698a;
    font-size: 12px !important;
    line-height: 13px !important;
    vertical-align: middle !important;
    height: 35px;
    min-width: 14% !important;
    width: 14% !important;
    float: left;
}

.option-star {
    /*margin-top: 0px !important;*/
    border: 2px solid #FAFAFA !important;
    height: 45px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px !important;
    bottom: 15px !important;
}

.option-star-active {
    background-color: #FAFAFA !important;
    color: #464749 !important;
}

.option-star-passive {
    background-color: #464749 !important;
    color: #ffffff !important;
}

.option-active {
    background-color: #5a698a;
    color: white;
    border: 2px solid #5a698a;
}

.option-passive {
    background-color: #2F3C97;
    color: white;
}

.tips-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.league-options {
    background-color: #FAFAFA !important;
    color: #464749 !important;
    border: 1px solid #5a698a !important;
}

select {
    border: 2px solid #2F3C97;
    background-color: #2F3C97;
    color: white;
}

.my-select-button {
    border: 2px solid #2F3C97 !important;
    background-color: #5a698a !important;
    color: white !important;
    font-weight: bold;
}

.my-league-stat-select {
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    min-height: 40px !important;
    height: 40px !important;
    background-color: #5a698a !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px;
}

.tabs-striped .tabs {
    border-bottom: 0px solid !important;
    border-color: #2F3C97;
}

.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 5px 0px !important;
    border-style: solid;
}

.button {
    border-radius: 5px;
    margin: 2px;
}

.button:hover {
    color: white;
}

    .button:active {
        color: white;
        background-color: #2F3C97;
        border: 2px solid #2F3C97;
    }

.topHeader {
    background-image: none;
    background-color: #2F3C97 !important;
    color: #464749 !important;
    border-color: #2F3C97 !important;
}

.bottomHeader {
    top: 93px !important;
    padding-top: 2px !important;
    height: 70px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-color: #2F3C97 !important;
}

.bottomHeader-league {
    top: 43px !important;
    height: 40px !important;
    padding-top: 2px !important;
    border-color: #2F3C97 !important;
}

.bottomHeader-league-selectAll {
    top: 43px !important;
    height: 70px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-color: #2F3C97 !important;
}

.bottomHeader2 {
    top: 83px !important;
    padding-top: 2px !important;
    height: 50px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-color: #2F3C97 !important;
}

.bottomHeader3 {
    top: 133px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    height: 30px !important;
    /*padding-top: 10px !important;*/
    padding-bottom: 0px !important;
    color: #fff !important;
    padding: 15px 15px 0px 15px !important;
    border-color: #2F3C97 !important;
}

.title {
    color: #2F3C97 !important;
    font-size: 22px !important;
}

ion-content {
    background-color: #FAFAFA !important;
    color: #464749 !important;
}

.tab-item {
    color: #464749 !important;
    opacity: 1;
    font-weight: bold;
}

.sideMenu {
    background-color: #2F3C97 !important;
}

.item {
    background-color: #464749;
    /*color: white !important;*/
    border: none;
    /*-webkit-tap-highlight-color: #2A3A49 !important;*/
}

.item-win {
    color: white !important;
}

.icon {
    color: white !important;
}

.popup-head {
    padding: 0px !important;
    border-bottom: 0px !important;
}

.popup-body {
    padding: 1px !important;
}

.popUpList>.item {
    border: 1px solid white !important;
}

.newsFeed {
    border-bottom: 1px solid rgb(172, 172, 172) !important;
    padding: 10px !important;
    margin-top: 0px !important;
    padding-top: 10px !important;
}

.my-icon {
    font-size: 20px !important;
}

.my-img-icon {
    max-height: 54px!important;
    height: 32px !important;
    max-width: 32px !important;
    position: absolute !important;
    top: 0px !important;
    right: auto !important;
    left: 11px !important;
    font-size: 32px !important;
    align-items: center !important;
    line-height: 54px !important;
    vertical-align: middle !important;
}

img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.my-menu-list-item {
    padding: 16px 54px 16px 54px !important;
    color: white !important;
}

.newsFeed-horizontal-scroll {
    background-image: none;
    background-color: #2F3C97 !important;
    color: #fff !important;
    line-height: 34px;
    border: 0px;
}

.my-menu-list-item:active,
.my-menu-list-item:hover {
    background-color: #464749;
}

.card,
.list-inset {
    overflow: hidden;
    margin: 15px;
    border-radius: 2px;
    background-color: #fff;
}

.basecol {
    padding: 5px;
}

.bar-header {
    border-bottom-width: 0px !important;
}

span.league {
    border-bottom: 1px solid #a1a1a1;
}

.wintype-card {
    background: #F7F7F7;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.icon-expandible {
    position: absolute;
    right: 2em;
    line-height: 50px;
    color: #607D8B !important;
}

.wintype-card-open .card {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    text-align: center;
}

.wintype-name {
    font-weight: 600;
    font-size: 1.2em;
    padding: 1em;
    text-align: left;
    color: #607D8B;
    width: 100%;
}

.no-tips {
    padding: 1em;
    font-size: 1em;
    text-align: center;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    font-weight: normal;
    line-height: 1.5;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    font-weight: normal;
    line-height: 1.5;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
    font-weight: normal;
    line-height: 1.5;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: white;
    font-weight: normal;
    line-height: 1.5;
}

body {
    /* for iPhone X top padding */
    padding-top: constant(safe-area-inset-top); 
    padding-top: env(safe-area-inset-top);
    
    background-color: #464749;
}

.view-container {
    height: calc(100vh - constant(safe-area-inset-top));
    height: calc(100vh - env(safe-area-inset-top));
}

.has-header {
    top: 44px !important;
}

.has-subheader {
    top: 88px !important;
    height: calc(100vh - 88px);
}

marquee {
    width: 100% !important;
}


.platform-ios.platform-cordova:not(.fullscreen) ion-side-menu >* {
    padding-top: 20px;
}

.more-styles {
    padding-left: 5px; 
    padding-right:5px; 
    text-align: center; 
    margin-top: 43px; 
    height: 60px !important; 
    line-height: 40px;
}