.my-text {
    color: #fff !important;
    font-weight: bold;
}

.my-text-font-weight {
    font-weight: bold;
}

.star-gold {
    background-color: #ffc900;
}

.menu-active {
    background-color: #616265 !important;
}

.star-gold-badge {
    background: url(../img/goldBanner.png) top left no-repeat;
    background-size: 25px auto;
    background-position: 5px;
}

.tab-item.active {
    border-color: #fff !important;
    color: #fff !important;
}

.side-menu-divider {
    background-color: #3D3D3D !important;
    color: white !important;
}

.scroll-scrollableDates {
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.scroll-scrollableDates-middle {
    font-size: 20px;
}

.search-league {
    background-color: #5a698a;
    color: white;
}

.my-unlock-gold-btn {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px) !important;
}

.content-top-margin {
    top: 105px !important;
}

.content-top-margin-unlock {
    top: 165px !important;
}

.country-flag {
    height: 25px;
    margin-top: -5px;
    padding-right: 10px;
    position: inherit;
    display: inline-block;
    vertical-align: bottom;
}

.racing-icon {
    height: 25px;
    margin-top: -5px;
    padding-right: 10px;
    position: inherit;
    display: inline-block;
    vertical-align: bottom;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 70%;
    display: block;
}

.colhome {
    width: 44%;
    text-align: right;
}

.colaway {
    width: 44%;
    text-align: left;
}

.col4 {
    width: 12%;
}

.col5 {
    width: 100%;
}

.col6 {
    width: 20%;
    min-width: 65px;
    text-align: right;
}

.coltype {
    width: 50%;
    text-align: left;
}

.col8 {
    width: 45%;
    text-align: right;
}

.basecol {
    padding: 7px !important;
}

.stats-sub-header button:first-child {
    border-left: 2px solid #5a698a !important;
}
